
{% extends "base.html" %}

{% block content %}

    <style>
        h1{
            color: #0800B5;
            text-align: center;
        }

        .line1{
            border:1px solid #0800b5;
        }

        .table{
            text-align: center;
        }

        .radios{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
    </style>    

    <div class="container">
        <h1>Listagem de recursos</h1>
        <div id='line1' class='line1'></div></br>

        <div>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
            
            <div class="radios" id="radios">
                <h4>Filtrar por:</h4>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioTodos1" value="1">
                    <label class="form-check-label" for="flexRadioTodos1">Todos</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioStatus3" value="3">
                    <label class="form-check-label" for="flexRadioStatus3">Status</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioFuncionando4" value="4">
                    <label class="form-check-label" for="flexRadioFuncionando4">Funcionando</label>
                </div>
            </div>

            <div id='line1' class='line1'></div></br>

            <div id="filtros"></div>
            
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Código</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Status</th>
                    <th scope="col">Funcionando</th>
                    <th scope="col">Opções</th>
                </tr>
            </thead>
            <tbody id="tbody">
                
            </tbody>
        </table>


        <!-- Modal de Exclusão do Recurso -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteModalLabel">Confirmar Exclusão</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Você tem certeza que deseja excluir o recurso <span id="recursoInfo"></span>?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <a id="confirmDelete" href="#" class="btn btn-danger">Excluir</a>
                </div>
              </div>
            </div>
          </div>

        <div id='line1' class='line1'></div></br>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var form = document.querySelector('.radios');
            var radios = form.querySelectorAll('input[name="flexRadioDefault"]');
            radios.forEach(function(radio) {
                radio.addEventListener('change', function() {
                    if(document.querySelector('input[name="flexRadioDefault"]:checked').value == 1){
                        funcTodos()
                    }

                    else if(document.querySelector('input[name="flexRadioDefault"]:checked').value == 2){
                        funcTipo()
                    }

                    else if(document.querySelector('input[name="flexRadioDefault"]:checked').value == 3){
                        funcStatus()
                    }

                    else if(document.querySelector('input[name="flexRadioDefault"]:checked').value == 4){
                        funcFuncionamento()
                    }
                });
            });
        });

        const funcTodos = () => {
            document.getElementById('filtros').innerHTML = ``

            document.getElementById('tbody').innerHTML = `
                {% for recurso in recursos %}
                    <tr>
                        <th scope="row">{{recurso.id_codigo}}</th>
                        <td>{{ recurso.codigo }}</td>
                        <td>{{ recurso.tipo }}</td>
                        <td>{% if recurso.funcionando %}Disponível{% else %}Indisponível{% endif %}</td>
                        <td>{% if recurso.funcionando %}Sim{% else %}Não{% endif %}</td>
                        <td>
                            <a class="btn btn-primary" href="{% url 'rec_edit' recurso.pk %}"><i class="bi bi-pencil-square"></i></a> 
                            &nbsp 
                            <button class="btn btn-danger" onclick="openDeleteModal('{{ recurso.tipo }} - {{ recurso.codigo }}', '{% url 'rec_delete' recurso.pk %}')"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                {% endfor %}
            `
        }

        const funcStatus = () => {
            document.getElementById('tbody').innerHTML = ``
            document.getElementById('filtros').innerHTML = `
                <select class="form-select" aria-label="Default select example" id='status' >
                    <option selected>------</option>
                        <option value="disponivel">Disponível</option>
                        <option value="indisponivel">Indisponível</option>
                </select>
            `
            
            var selectElement = document.getElementById('status');
            console.log(selectElement.value);
            selectElement.addEventListener('change', function() {
                if(selectElement.value == 'disponivel'){
                    document.getElementById('tbody').innerHTML = `
                        {% for recurso in recursosDisponiveis %}
                            <tr>
                                <th scope="row">{{recurso.id_codigo}}</th>
                                <td>{{ recurso.codigo }}</td>
                                <td>{{ recurso.tipo }}</td>
                                <td>Disponível</td>
                                <td>{% if recurso.funcionando %}Sim{% else %}Não{% endif %}</td>
                                <td>
                                    <a class="btn btn-primary" href="{% url 'rec_edit' recurso.pk %}"><i class="bi bi-pencil-square"></i></a> 
                                    &nbsp 
                                    <button class="btn btn-danger" onclick="openDeleteModal('{{ recurso.tipo }} - {{ recurso.codigo }}', '{% url 'rec_delete' recurso.pk %}')"><i class="bi bi-trash"></i></button>
                                </td>
                            </tr>
                        {% endfor %}
                    `
                }else if(selectElement.value == 'indisponivel'){
                    document.getElementById('tbody').innerHTML = `
                        {% for recurso in recursosIndisponiveis %}
                            <tr>
                                <th scope="row">{{recurso.id_codigo}}</th>
                                <td>{{ recurso.codigo }}</td>
                                <td>{{ recurso.tipo }}</td>
                                <td>Indisponível</td>
                                <td>{% if recurso.funcionando %}Sim{% else %}Não{% endif %}</td>
                                <td>
                                    <a class="btn btn-primary" href="{% url 'rec_edit' recurso.pk %}"><i class="bi bi-pencil-square"></i></a> 
                                    &nbsp 
                                    <button class="btn btn-danger" onclick="openDeleteModal('{{ recurso.tipo }} - {{ recurso.codigo }}', '{% url 'rec_delete' recurso.pk %}')"><i class="bi bi-trash"></i></button>
                                </td>
                            </tr>
                        {% endfor %}
                    `
                }
            });
        }

        const funcFuncionamento = () =>{
            document.getElementById('tbody').innerHTML = ``
            document.getElementById('filtros').innerHTML = `
                <select class="form-select" aria-label="Default select example" id='funcionamento' >
                    <option selected>------</option>
                        <option value="sim">Sim</option>
                        <option value="não">Não</option>
                </select>
            `
            
            var selectElement = document.getElementById('funcionamento');
            console.log(selectElement.value);
            selectElement.addEventListener('change', function() {
                if(selectElement.value == 'sim'){
                    document.getElementById('tbody').innerHTML = `
                        {% for recurso in recursosFunciona %}
                            <tr>
                                <th scope="row">{{recurso.id_codigo}}</th>
                                <td>{{ recurso.codigo }}</td>
                                <td>{{ recurso.tipo }}</td>
                                <td>{% if recurso.status %}Disponível{% else %}Indisponível{% endif %}</td>
                                <td>{% if recurso.funcionando %}Sim{% else %}Não{% endif %}</td>
                                <td>
                                    <a class="btn btn-primary" href="{% url 'rec_edit' recurso.pk %}"><i class="bi bi-pencil-square"></i></a> 
                                    &nbsp 
                                    <button class="btn btn-danger" onclick="openDeleteModal('{{ recurso.tipo }} - {{ recurso.codigo }}', '{% url 'rec_delete' recurso.pk %}')"><i class="bi bi-trash"></i></button>
                                </td>
                            </tr>
                        {% endfor %}
                    `
                }else if(selectElement.value == 'não'){
                    document.getElementById('tbody').innerHTML = `
                        {% for recurso in recursosNaoFunciona %}
                            <tr>
                                <th scope="row">{{recurso.id_codigo}}</th>
                                <td>{{ recurso.codigo }}</td>
                                <td>{{ recurso.tipo }}</td>
                                <td>{% if recurso.status %}Disponível{% else %}Indisponível{% endif %}</td>
                                <td>{% if recurso.funcionando %}Sim{% else %}Não{% endif %}</td>
                                <td>
                                    <a class="btn btn-primary" href="{% url 'rec_edit' recurso.pk %}"><i class="bi bi-pencil-square"></i></a> 
                                    &nbsp 
                                    <button class="btn btn-danger" onclick="openDeleteModal('{{ recurso.tipo }} - {{ recurso.codigo }}', '{% url 'rec_delete' recurso.pk %}')"><i class="bi bi-trash"></i></button>
                                </td>
                            </tr>
                        {% endfor %}
                    `
                }
            });
        }


        function openDeleteModal(recursoInfo, deleteUrl) {
            document.getElementById('recursoInfo').innerText = recursoInfo;
            document.getElementById('confirmDelete').href = deleteUrl;
            var deleteModal = new bootstrap.Modal(document.getElementById('deleteModal'));
            deleteModal.show();
        }

    </script>

{% endblock content %}