{% extends "base.html" %}

{% block content %}

<style>
    #ReservaFormDom {
        max-width: 70%;
    }
</style>

<h1 class="text-center mt-4 pt-4 blue-text">Cadastro de Reserva</h1>
<form action="." method="POST" id="ReservaFormDom" locais_url="{% url 'getLocais' %}" class="container text-start">
    {% csrf_token %}
    <hr class="ms-4 me-4 blue-text">
    {% if message %}
    <h5 class="{% if error %}text-danger{% else %}text-success{% endif %} text-center">{{ message }}</h5>
    {% endif %}
    <div class="px-4 pb-4">
        <h5>Descrição</h5>
        {{ form.descricao }}
    </div>
    <div class="d-flex justify-content-between gap-4 px-4">
        <div class="flex-fill">
            <h5>Dias</h5>
            {{ form.dias }}
        </div>
        <div class="flex-fill">
            <h5>Repetições (meses)</h5>
            {{ form.repeticoes }}
        </div>
    </div>
    <div class="d-flex justify-content-between gap-4 p-4">
        <div class="flex-fill">
            <h5>Nº de pessoas</h5>
            {{ form.qtd_pessoas }}
        </div>
        <div class="flex-fill">
            <h5>Bloco</h5>
            {{ form.bloco }}
        </div>
    </div>
    <div class="px-4 pb-4">
        <h5>Local</h5>
        {{ form.local }}
    </div>
    <div class="px-4 pb-4">
        <h5>Solicitante da reserva</h5>
        {{ form.matSolicitante }}
    </div>
    <!-- <div class="px-4 pb-4">
        <h5>Matrícula do Responsável</h5>
        {{ form.matResponsavel }}
    </div> -->
    <div class="text-end me-2 pe-4 pb-4 mb-4">
        <button class="btn blue-btn btn-primary" type="submit">Enviar</button>
    </div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script type="text/javascript">
    onChangeHorarios = () => {
        const url = $('#ReservaFormDom').attr('locais_url');
        horarios = $("#id_horarios").val();
        dias = $("#id_dias").val();
        pessoas = $("#id_qtd_pessoas").val();
        bloco = $("#id_bloco").val();

        $.ajax({
            type: 'POST',
            url: url,
            data: JSON.stringify({ 'horarios': horarios, 'dias': dias, 'pessoas': pessoas, 'bloco': bloco}),
            success: (data) => {
                if(data.length == 0){
                    data = '<option disabled selected>Nenhum local disponível</option>'
                }
                $('#id_local').html(data);
            }
        })
    }

    $("#id_horarios").change(onChangeHorarios)
    $("#id_dias").change(onChangeHorarios)
    $("#id_qtd_pessoas").change(onChangeHorarios)
    $("#id_bloco").change(onChangeHorarios)


</script>

{% endblock content %}